<html>
<head>
    <title>Online Tools</title>
    <link rel="stylesheet" href="background.css">
    <style>
        body{
            font-family: 'Exo', sans-serif;
        }

        .context {
            width: 100%;
            position: absolute;
            top:50vh;
            
        }

        .context h1{
            text-align: center;
            color: #fff;
            font-size: 50px;
        }
    </style>
</head>
<body>

    <div class="context">
        <h1>tools.etahn.dev</h1>
    </div>

    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
</body>
</html>